body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-container  {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: grid;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.grid-item {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

@font-face {
  font-family: 'PokemonFontOutline';
  src: url('../fonts/Pokemon-Hollow.ttf') format('truetype');
}

@font-face {
  font-family: 'PokemonFontSolid';
  src: url('../fonts/Pokemon-Solid.ttf') format('truetype');
}

.pokemon-font-outline {
  font-family: 'PokemonFontOutline', sans-serif;
}

.pokemon-font-solid {
  font-family: 'PokemonFontSolid', sans-serif;
  letter-spacing: 4px;
}

.main-body {
  padding: 50px;
}

.card-image {
  background-color: rgba(0,0,0,0.1);
}

.card-center {
  text-align: center;
}

.pokemon-type-label {
  display: inline-block;
  padding: 1px 5px;
  margin: 5px 5px 10px 5px;
  border-radius: 5px;
}

.search-filter {
  cursor: pointer;
}

.highlight-card {
  border: 4px solid rgb(0, 0, 0) !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.search-result-item, .hover-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.search-result-item:hover, .hover-card:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.text-decoration-none{
  text-decoration: none !important;
  color: inherit !important;
}